@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>RuffTime Creators:</p>
<ul>
    <li>Dennis Nay</li>
    <li>Haeryun Kwon</li>
    <li>Samantha Dang</li>
</ul>
