@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Dennis Nay:</strong> <a href="mailto:dnay8979@conestogac.on.ca">dnay8979@conestogac.on.ca</a><br />
    <strong>Haeryun Kwon:</strong> <a href="mailto:hkwon7327@conestogac.on.ca">hkwon7327@conestogac.on.ca</a><br />
    <strong>Samantha Dang:</strong> <a href="mailto:sdang7621@conestogac.on.ca">sdang7621@conestogac.on.ca</a>
</address>
