@{
    ViewData["Title"] = "Home Page";
}
@model List<Dog>;

<div class="row">
    <div class="col-md-3">
        <h2>Bringing you joy during Ruff Times</h2>
        <div class="text-left">
            <div>
                <img src="@Model.First().url" alt="Dog Picture Courtesy of The Dog API" class="img-responsive" />
                <hr />
            </div>
        </div>
    </div>
</div>
